{% extends "guia_ciudad/base.html" %}

{% block subtitulo %}Clasificados{% endblock subtitulo %}

{% block contenido %}
<section style="padding:20px 20px; margin-left: 150px; margin-right: 150px;">
    <h1 class="mb-4">Clasificados:</h1>
    <form class="form-label" action="{% url 'buscar_clasificados' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar">
    </form>
    <div class="mb-4">
    <a href="{% url 'agregar_clasificado' %}"><FONT COLOR="#FF3D00">+ Agregar un clasificado</FONT></a>
    </div>
    <table class="table">
        <tr>
            <td><b>PRODUCTO</b></td>
            <td><b>DESCRIPCIÓN</b></td>
            <td><b>PRECIO AR$</b></td>
            <td><b>CONTACTO</b></td>
        </tr>
        {% for clasificado in clasificados %}
        <tr>
            <td>{{ clasificado.producto }}</td>
            <td>{{ clasificado.descripcion }}</td>
            <td>{{ clasificado.precio }}</td>
            <td>{{ clasificado.contacto }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock contenido %}