{% extends "guia_ciudad/base.html" %}

{% block subtitulo %}Clasificados{% endblock subtitulo %}

{% block contenido %}
<section style="padding:20px 20px; margin-left: 150px;">
    <h1 class="mb-5">Clasificados:</h1>
    <form action="{% url 'buscar_clasificados' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar">
    </form>
    <a href="{% url 'agregar_clasificado' %}">Agregar un clasificado</a>
    <table class="table">
        <tr>
            <td><b>PRODUCTO</b></td>
            <td><b>DESCRIPCIÓN</b></td>
            <td><b>PRECIO</b></td>
            <td><b>CONTACTO</b></td>
        </tr>
        {% for clasificado in clasificados %}
        <tr>
            <td>{{ clasificado.producto }}</td>
            <td>{{ clasificado.descripcion }}</td>
            <td>{{ clasificado.precio }}</td>
            <td>{{ clasificado.contacto }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock contenido %}