{% extends "guia_ciudad/base.html" %}

{% block subtitulo %}Agregar Comercio{% endblock subtitulo %}

{% block contenido %}
<section style="padding:20px 20px; margin-left: 150px;">
    <h1 class="mb-4" style="font-size: 20px"> Completa el formulario para agregar un comercio: </h1>
    <form class="form-label;" action="{% url 'agregar_comercio' %}" method="post">
    {% csrf_token %}
    {{ formulario.as_p }}
    <input class="btn btn-secondary" type="submit" value="Agregar"/>
    </form>
</section>
{% endblock contenido %}