{% extends "guia_ciudad/base.html" %}

{% block subtitulo %}Propiedades{% endblock subtitulo %}

{% block contenido %}
<section style="padding:20px 20px; margin-left: 150px;">
    <h1 class="mb-5">Propiedades en venta/alquiler:</h1>
    <form action="{% url 'buscar_propiedades' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar">
    </form>
    <a href="{% url 'agregar_propiedad' %}">Agregar una propiedad</a>
    <table class="table">
        <tr>
            <td><b>TIPO</b></td>
            <td><b>OPERACIÓN</b></td>
            <td><b>HABITACIONES</b></td>
            <td><b>PRECIO</b></td>
            <td><b>CONTACTO</b></td>
        </tr>
        {% for propiedad in propiedades %}
        <tr>
            <td>{{ propiedad.tipo }}</td>
            <td>{{ propiedad.operacion }}</td>
            <td>{{ propiedad.habitaciones }}</td>
            <td>{{ propiedad.precio }}</td>
            <td>{{ propiedad.contacto }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock contenido %}